body{
    background-color: blue;
    font: normal 15pt Arial
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    background: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10ox rgba(0, 0, 0, 0.521);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
#div{
    background-color: white;
    height: 50px;
    width: 500px;
    padding: 10px;
}
div{
    
    background-color: white;
    height: 170px;
    width: 500px;
    padding: 10px;
}